<div class="container">

    <div class="row">
  
    <div class="col-md-9">
      <div class="jumbotron text-center" style="margin-bottom: 10px; margin-top: 10px;">
        <h2>Subjects with students</h2>
      </div>
      <div class="row">
  
      <div class="col-md-4 mb-2"*ngFor="let subject of subjectServices.subjects">
        <div class="card-group">
            <div class="card bg-info" style="width: 12rem;">
               <div class="card-header text-center" (click)="routing(subject._id)">{{subject.name}}</div>

              <div class="card-body">
                <p>Number of students: {{subject.numberStudents}}</p>
                <a href="#" class="btn btn-primary btn-sm" (click)="editSubject(subject)">Edit</a>
                <button type="button" class="btn btn-danger btn-sm " (click)="deleteSubject(subject._id)">Delete</button>
                
              </div>
            </div>  
      
          </div> 
    
        </div>
  
      </div>
  
  
    </div>
  
  
  
      <div class="col-md-3">
        <div class="jumbotron text-center mb-3" style="margin-bottom: 10px; margin-top: 10px;">
          <h4>Add a subject</h4>
        </div>
        <div class="card p-2">
          <form #subjectForm="ngForm" (ngSubmit)="addSubject(subjectForm)">
            <input type="hidden" name="id" [(ngModel)]="subjectServices.selectedSubject._id"  >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="name" class="form-control" name="name" aria-describedby="nameHelp" [(ngModel)]="subjectServices.selectedSubject.name">
            </div>
            
            
            
            <div class="text-center">
            <button type="submit" class="btn btn-success ">Submit</button>
            </div>
          </form>
        </div>
        
             
      </div>
  
    </div>
    
  </div>
             
     
    
    
      
    
      
